
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shered/_Layout.cshtml";
}

<div class="container-fluid banner">
    <div class="row banner-slide">
        <div class="col-12 banner-item" style="background-image: url(/AccessClient/img/banner-img1.jpg);">
            <div class="title">
                <p>Come and Relax</p>
            </div>
            <div class="description banner-word">
                <p>a paradise for sense, vacation for souls</p>
            </div>
        </div>
        <div class="col-12 banner-item" style="background-image: url(/AccessClient/img/banner-img2.jpg);">
            <div class="title">
                <p>Celebrate your Love</p>
            </div>
            <div class="description banner-word">
                <p>arrange the wedding to remember forever</p>
            </div>
        </div>
        <div class="col-12 banner-item" style="background-image: url(/AccessClient/img/banner-img3.jpg);">
            <div class="title">
                <p>Feast for your Taste</p>
            </div>
            <div class="description banner-word">
                <p>enjoy our perfect homemade dishes and BBQ</p>
            </div>
        </div>
    </div>
    <div class="prev-banner-box"><span><i class="fa fa-angle-left" id="prevBanner"></i></span></div>
    <div class="next-banner-box"><span><i class="fa fa-angle-right" id="nextBanner"></i></span></div>
    <div class="booking">
        <div class="row" style="background-color: #faf9f8">
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item">
                <p>Email<span>*</span></p>
                <div class="infos">
                    <input type="email" name="" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-sm">
                <p>Room Type<span>*</span></p>
                <div class="infos">
                    <select class="criteria">
                        <option>Single</option>
                        <option>Double</option>
                        <option>Kid</option>
                        <option>Family</option>
                        <option>Deluxe</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-md">
                <p>Check-in Date<span>*</span></p>
                <div class="infos">
                    <input type="date" name="" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                <p>Check-out Date<span>*</span></p>
                <div class="infos">
                    <input type="date" name="" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                <p>Guest<span>*</span></p>
                <div class="infos">
                    <input type="text" name="" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                <p style="color: transparent;">A</p>
                <div class="infos">
                    <input type="submit" name="" value="BOOK NOW" class="criteria sub-btn">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end carousel banner -->
<!-- welcome -->
<div class="container-fluid welcome">
    <div class="container words">
        <p class="title">Welcome to the Lake Inn!</p>
        <div class="icon-title">
            <img src="/AccessClient/img/icon-title.png">
        </div>
        <p class="short-des">We are pleased to be your premier breakfast and bed for rest, activities and nature on Beautiful Lake.</p>
    </div>
    <div class="container images">
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 itemBox itembox1">
                <div class="item">
                    <img src="/AccessClient/img/greeting-img1.jpg">
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12 itemBox itembox2">
                        <div class="item">
                            <img src="/AccessClient/img/greeting-img2.jpg">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-12 itemBox itembox2">
                        <div class="item">
                            <img src="/AccessClient/img/greeting-img3.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container detail">
        <p>Smithhammer House at Terry Point is the perfect New Hampshire Inn. with nature at our doorstep and many attractions nearby. On our scenic, quiet property, you will be treated to idyllic views of Beautiful Lake and its glistening water, our guardian mountains in the distance and luscious gardens.</p>
        <div class="more">
            <a href="about.html">
                <input type="submit" name="" value="more about us">
            </a>
        </div>
    </div>
</div>
<!-- end welcome -->
<!-- introduce rooms -->
<div class="container-fluid introduce">
    <p class="title">Feel yourself at home</p>
    <p class="detail">Book today and get 7% discount</p>
    <div class="book-btn">
        <a href="room-rate.html">
            <input type="submit" name="" value="our rooms & rates">
        </a>
    </div>
</div>
<!-- end introduce rooms -->
<!-- dining -->
<div class="container-fluid dining">
    <div class="container words">
        <p class="title">Exceptional dining</p>
        <div class="icon-title">
            <img src="/AccessClient/img/icon-title.png">
        </div>
        <p class="detail">On our scenic, quiet property, you will be treated to idyllic views of Beautiful Lake and its glistening water, our guardian mountains in the distance and luscious gardens.</p>
    </div>
    <div class="images container">
        <div class="row dining-slide">
            <div class="col-12 dining-item" style="background-image: url(/AccessClient/img/dining1.jpg);">
                <div class="info">
                    <p class="title">Special Feast Menu</p>
                    <p class="detail">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="col-12 dining-item" style="background-image: url(/AccessClient/img/dining2.jpg);">
                <div class="info">
                    <p class="title">Best Beef steak and Grilled vegetables</p>
                    <p class="detail">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="col-12 dining-item" style="background-image: url(/AccessClient/img/dining3.png);">
                <div class="info">
                    <p class="title">Sandwich, Tapas with Grilled chicken</p>
                    <p class="detail">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end dining -->
<!-- stats -->
<div class="container-fluid stats">
    <div class="container title">
        <p>Numbers we are proud of</p>
        <div class="icon-title">
            <img src="/AccessClient/img/icon-title.png">
        </div>
    </div>
    <div class="container info">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">12</p>
                        <div class="slice"></div>
                        <p class="criteria">Luxury Rooms</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">43</p>
                        <div class="slice"></div>
                        <p class="criteria">Dining Options</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">854</p>
                        <div class="slice"></div>
                        <p class="criteria">Happy Guests</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">9.5</p>
                        <div class="slice"></div>
                        <p class="criteria">Average Rating</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end stats -->
<!-- blogs -->
<div class="container-fluid blogs">
    <div class="container title">
        <p>From Blogs</p>
        <div class="icon-title">
            <img src="/AccessClient/img/icon-title.png">
        </div>
    </div>
    <div class="container info">
        <div class="row">
            @{ Html.RenderAction("Bloghome", "Blog");}
        </div>
        <div class="blog-btn">
            <a href="check-article.html">
                <input type="submit" name="" value="go to the blog">
            </a>
        </div>
    </div>
</div>
<!-- end blogs -->
<!-- introduce rooms 2 -->
<div class="container-fluid introduce2">
    <p class="detail">The perfect romantic escape</p>
    <p class="title">A wedding you will remember forever</p>
    <div class="book-btn">
        <a href="#">
            <input type="submit" name="" value="intersted?">
        </a>
    </div>
</div>
<!-- end introduce rooms 2 -->
<!-- review -->
<div class="container-fluid review">
    <p class="title">Our Guests say</p>
    <div class="icon-title">
        <img src="/AccessClient/img/icon-title.png">
    </div>
    <div class="container guest">
        <div class="row review-slide">
            <div class="col-12 item">
                <p class="detail">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="guest-info row">
                    <div class="col-6 info-item">
                        <div class="guest-img" style="background-image: url(img/tourist1.jpg);"></div>
                    </div>
                    <div class="col-6 info-item">
                        <div class="row">
                            <div class="col-12 name"><p>Dylan Dawnson</p></div>
                            <div class="col-12 job"><p>Tourist</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 item">
                <p class="detail">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="guest-info row">
                    <div class="col-6 info-item">
                        <div class="guest-img" style="background-image: url(img/tourist2.jpg);"></div>
                    </div>
                    <div class="col-6 info-item">
                        <div class="row">
                            <div class="col-12 name"><p>Dylan Dawnson</p></div>
                            <div class="col-12 job"><p>Tourist</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 item">
                <p class="detail">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="guest-info row">
                    <div class="col-6 info-item">
                        <div class="guest-img" style="background-image: url(img/tourist3.jpg);"></div>
                    </div>
                    <div class="col-6 info-item">
                        <div class="row">
                            <div class="col-12 name"><p>Dylan Dawnson</p></div>
                            <div class="col-12 job"><p>Tourist</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end review -->
<!-- check room -->
<div class="container-fluid check">
    <div class="container check-items">
        <div class="row">
            <div class="col-8">
                <p class="ad">Free kayaking lessons for our guests!</p>
                <p class="detail">Do you fancy kayaking? How about fishing? We always have to offer something you'll enjoy.</p>
            </div>
            <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
                <button><a href="room-rate.html">check rooms & rates</a></button>
            </div>
        </div>
    </div>
</div>
<!-- end check room -->
